[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
	{{- if ne .gpg_key "" }}
	signingkey = {{ .gpg_key | quote }}
	{{- end }}
[init]
	defaultBranch = main
{{- if ne .gpg_key "" }}
[commit]
	gpgsign = true
[tag]
	gpgsign = true
{{- end }}
[alias]
	lo = log --oneline
	a = add
	cm = commit -m
	ca = commit --amend