{{- if not (stat ( joinPath .chezmoi.homeDir ".oh-my-zsh")) -}}
#!/bin/bash

# Install oh-my-zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

# Install zsh-completions
git clone https://github.com/zsh-users/zsh-completions.git ${ZSH_CUSTOM:-${ZSH:-~/.oh-my-zsh}/custom}/plugins/zsh-completions

# Install zsh-autosuggestions
git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions

# Install zsh-syntax-highlighting
git clone https://github.com/zsh-users/zsh-syntax-highlighting ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-syntax-highlighting
{{- end -}}
{{- if and ( eq .chezmoi.os "linux") ( eq .chezmoi.osRelease.idLike "arch" ) -}}
#!/bin/bash
set -eu

# Install packages, if needed, using pacman
sudo pacman -Syy --needed {{ join " " .packages.arch.pacman }}

# Install AUR packages, if needed, using yay
sudo yay -Syyua --needed {{ join " " .packages.arch.aur }}
{{- end -}}