{{- if and ( eq .chezmoi.os "linux") ( eq .chezmoi.osRelease.idLike "arch" ) -}}
#!/bin/bash

{{- if eq "$ZSH" "" -}}
# Install oh-my-zsh
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
{{- end -}}
{{- end -}}