[user]
	name = Jason Merten
	email = jmerte@gmail.com
	signingkey = FEA3E9CC01A5F599
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[alias]
	lo = log --oneline
	a = add
	cm = commit -m
	ca = commit --amend
